<p>Sign in</p>

<form method='post' action='/sessions'>

  <p>
    <label>
      Email
      <input type='email' name='email' />
    </label>
  </p>

  <p>
    <label>
      Password
      <input type='password' name='password' />
    </label>
  </p>

  <button type='submit'>Sign in</button>
</form>
