<p>Hello Girl Coders!</p>
<form action="/books" method="GET">
  <label for="site-search">Search books:</label>
  <input type="search" id="site-search" name="q"
         aria-label="Search through site content">

  <button>Search</button>
</form>
<ul>
  <li><a href='/books'>View available books</a></li>

  <% if (!currentUser) { %>
    <li><a href='/users/new'>Sign up</a></li>
    <li><a href='/sessions/new'>Sign in</a></li>
  <% } else { %>
    <li><a href='/users'>List of Users</a></li>
    <li>
      <form action='/sessions/destroy' method='post'>
        <button type='submit'>Logout</button>
      </form>
    </li>
  <% } %>
</ul>

<p>
The library has the following record counts:
</p>

<dl>
  <dt>Books</dt>
  <dd><%- books_count %></dd>
  <dt>Users</dt>
  <dd><%- users_count %></dd>
</dl>
