<p>Hello world.</p>

<ul>
  <li><a href='/books'>View available books</a></li>
  <% if (!currentUser) { %>
    <li><a href='/users/new'>Sign up</a></li>
  <% } else { %>
    <li><a data-method='delete' href='/sessions'>Logout</a></li>
  <% } %>
</ul>
