<p>Hello world.</p>

<ul>
  <li><a href='/books'>View available books</a></li>
  <% if (!currentUser) { %>
    <li><a href='/users/new'>Sign up</a></li>
    <li><a href='/sessions/new'>Sign in</a></li>
  <% } else { %>
    <li>
      <form action='/sessions/destroy' method='post'>
        <button type='submit'>Logout</button>
      </form>
    </li>
  <% } %>
</ul>
