<p>Hello world.</p>

<ul>
  <li><a href='/books'>View available books</a></li>
  <% if (!currentUser) { %>
    <li><a href='/users/new'>Sign up</a></li>
    <li><a href='/sessions/new'>Sign in</a></li>
  <% } else { %>
    <li><a href='/users'>List of Users</a></li>
    <li>
      <form action='/sessions/destroy' method='post'>
        <button type='submit'>Logout</button>
      </form>
    </li>
  <% } %>
</ul>

<p>
The library has the following record counts:
</p>

<dl>
  <dt>Books</dt>
  <dd><%- books_count %></dd>
  <dt>Users</dt>
  <dd><%- users_count %></dd>
</dl>
