<html>

<head>
  <title>GirlsCodeMK Library app</title>
  <link rel='stylesheet' type='text/css' href='/css/styles.css'>
</head>

<body>
  <div class="container">
    <a href="/"><img src="/img/logo.png" alt="library-app-logo"></a>

    <% if (messages.alert) { %>
    <div class='alert'>
      <%- messages.alert %>
    </div>
    <% } %>

    <% if (messages.info) { %>
    <div class='info'>
      <%- messages.info %>
    </div>
    <% } %>

    <%- body %>
  </div>
</body>

</html>