<html>

<head>
  <title>GirlsCodeMK Library app</title>
</head>

<body>
  <a href="/"><img src="/img/logo.png" alt="library-app-logo">
  </a>


  <% if (messages.alert) { %>
  <div class='alert'>
    <%- messages.alert %>
  </div>
  <% } %>

  <% if (messages.info) { %>
  <div class='info'>
    <%- messages.info %>
  </div>
  <% } %>

  <%- body %>
</body>

</html>