<html>
  <head>
    <title>GirlsCodeMK Library app</title>
    <script src='/quagga.min.js' type='text/javascript'></script>
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
  </head>

  <body>
    <a href="/">Home</a>
    <% if (messages.alert) { %>
      <div class='alert'><%- messages.alert %></div>
    <% } %>

    <% if (messages.info) { %>
      <div class='info'><%- messages.info %></div>
    <% } %>

    <%- body %>
  </body>
</html>
