<!-- This is the wrapper component  -->

<html>

<head>
  <title>GirlsCodeMK Library app</title>
</head>

<body>
  <a href="/">Home</a>
  <% if (messages.alert) { %>
  <div class='alert'><%- messages.alert %></div>
  <% } %>

  <% if (messages.info) { %>
  <div class='info'><%- messages.info %></div>
  <% } %>
  <!-- The different views will be rendered in this body tag -->
  <%- body %>
</body>

</html>