<% users.forEach((users) => { %>
  <p>
    UserID: <%- users.id %> Email: <%- users.email %> Role: <%- users.role %> <a href="/users/<%- users.id %>">Edit </a>
    </form>
  </p>
  <hr>
<% }) %>

<p><a href='/'>Home</a></p>
