We are in users/index.ejs

<% users.forEach((users) => { %>
  <p>
    UserID: <%- users.id %> Email: <%- users.email %> Role: <%- users.role %> <button>Edit</button><br />
      </p>
  <hr>
<% }) %>

<p><a href='/'>Home</a></p>